@import '../Scss/Styles.scss';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

.background{
    width: 100vw;
    height: 100vh;
    background: $primary;
}

.vert_breaker{
    width: 5vw;
    height: 100%;
    // background: red;
    float: left;
}

.main_container{
    width: 90vw;
    height: 100%;
    background: $primaryShadeOne;
    float: left;
}

.hor_line_breaker{
    width: 100%;
    height: 10px;
    background: blue;
    float: left;
  }

.introduction_section{
    width: 90vw;
    height: 45vh;
    background: #1C4744;
}

.introduction_container{
    width: 60%;
    height: 100%;
    border-radius: 30px;
    background: #20272C;
    float: left;
}

.calendar_container{
    width: 40%;
    height: 100%;
    background: #414E59;
    float: left;
}

.stats_section{
    width: 70%;
    height: 15vh;
    background: #317B76;
    opacity: 30%;
    float: left;
}

.appointment_list_section{
    width: 30%;
    height: 55vh;
    background: #41A49D;
    float: left;
}

.late_patients_row{
    width: 70%;
    height: 55vh;
    background: #52CDC5;
}

.introduction_container{
    // width: ;
    // height: ;
    // background: red;
  }