@import '../Scss/Styles.scss';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.background{
    width: 100vw;
    height: 100vh;
    background: $primary;
}

.vert_breaker{
    width: 5vw;
    height: 100%;
    // background: red;
    float: left;
}

.main_container{
    width: 90vw;
    height: 100%;
    // background: $primaryShadeOne;
    float: left;
}

.hor_breaker{
    width: 100%;
    height: 2.5%;
    float: left;
    // background: red;
}

.introduction_container{
    width: 57%;
    height: 45%;
    border-radius: 30px;
    background: $primary;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    float: left;

    .left{
        width: 45%;
        height: 85%;
        margin-top: 30px;
        margin-left: 20px;
        border-radius: 20px;
        background: blue;
        background-image: url('../Assets/DoctorDash.png');
        background-position: cover;
        background-repeat: no-repeat;
        float: left;
    }
    .right{
        width: 50%;
        height: 90%;
        margin-top: 20px;
        margin-left: 10px;
        color: white;
        font-family: Roboto;
        font-weight: 300;
        font-size: 20px;
        float: left;

        .title{
            font-family: Roboto;
            font-weight: 300;
            color: #4E5789;
            font-size: 17px;
            margin-top: -15px;
            margin-left: 15px;
            float: left;
        }
        .blue_co_founder{
            width: 85px;
            height: 30px;
            margin-left: -160px;
            margin-top: 20px;
            background: #E5F6FE;
            border-radius: 360px;
            float: left;

            .co_founder_text{
                color: #70AFC5; 
                font-size: 13px;
                margin: 7px 10px;
                float: left;
            }
        }
        .green_surgeon{
            width: 85px;
            height: 30px;
            margin-left: -60px;
            margin-top: 20px;
            background: #E2FFFA;
            border-radius: 360px;
            float: left;

            .surgeon_text{
                color: #62CABA; 
                font-size: 13px;
                margin: 7px 18px;
                float: left;
            }
        }
        .yellow_veteran{
            width: 85px;
            height: 30px;
            margin-left: 17px;
            margin-top: 20px;
            background: #FFEDE0;
            border-radius: 360px;
            float: left; 

            .veteran_text{
                color: #C9915D; 
                font-size: 15px;
                margin: 7px 16px;
                float: left;
            }
        }
        .intro_text{
            width: 350px;
            height: 100px;
            margin-top: 15px;
            margin-left: 25px;
            text-align: left;
            font-size: 18px;
            line-height: 25px;
            font-weight: 300;
            color: #4E5789;
            float: left;
        }
    }
 
    h2{
        font-family: Roboto;
        font-weight: 300;
    }

}
.vert_breaker_two{
    width: 5%;
    height: 10px;
    // background: red;
    float: left;
}

.calendar_container{
    width: 40%;
    height: 45%;
    border-radius: 30px;
    background: $primary;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-left: 30px;
    float: left;
}
.data_container{
    width: 57%;
    height: 50%;
    border-radius: 30px;
    // background: red;
    float: left;

    .stats_container{
        width: 100%;
        height: 25%;
        border-radius: 30px;
        background: rgb(55, 55, 111);
        background: $primary;
        float: left;
    }
    
    .late_patients_container{
        width: 100%;
        height: 72.5%;
        border-radius: 30px;
        background: $primary;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        float: left;
    }
}

.appointment_list_container{
    width: 40%;
    height: 50%;
    border-radius: 30px;
    margin-left: 30px;
    background: $primary;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    float: left;
}


.stats_vert_spacer{
    width: 12px;
    height: 100%;
    float: left;
}

.patients_container{
    width: 23%;
    height: 75%;
    margin-top: 12px;
    border-radius: 20px;
    // background: #E2FFFA;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    float: left;

    .icon{
        width: 40px;
        height: 40px;
        margin-left: 15px;
        margin-top: 15px;
        color: #E2FFFA;
        border-radius: 13px;
        float: left;
        .icon_box{
            float: left;
            margin-top: 8px;
            margin-left: 8px;
        }
    }



    .total_text{
        font-family: Roboto;
        font-weight: 300;
        font-size: 15px;
        margin-left: 10px;
        color: #4E5789;
        float: left;
    }

    .total_num{
        float: left;
        font-family: Roboto;
        font-weight: 400;
        margin-left: 10px;
        margin-top: -15px;
        color: #4E5789;
        font-size: 25px;
    }
}

.staff_container{
    width: 23%;
    height: 75%;
    margin-top: 12px;
    border-radius: 20px;
    // background: #E2FFFA;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    float: left;

    .icon{
        width: 40px;
        height: 40px;
        margin-left: 15px;
        margin-top: 15px;
        color: #E2FFFA;
        border-radius: 13px;
        float: left;
        .icon_box{
            float: left;
            margin-top: 8px;
            margin-left: 8px;
        }
    }

    .total_text{
        font-family: Roboto;
        font-weight: 300;
        font-size: 15px;
        margin-left: 10px;
        color: #4E5789;
        float: left;
    }

    .total_num{
        float: left;
        font-family: Roboto;
        font-weight: 400;
        color: #4E5789;
        margin-left: 10px;
        margin-top: -15px;
        font-size: 25px;
    }
}


.rooms_container{
    width: 23%;
    height: 75%;
    margin-top: 12px;
    border-radius: 20px;
    // background: #E2FFFA;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    float: left;

    .icon{
        width: 40px;
        height: 40px;
        margin-left: 15px;
        margin-top: 15px;
        color: #E2FFFA;
        border-radius: 13px;
        float: left;
        .icon_box{
            float: left;
            margin-top: 8px;
            margin-left: 8px;
        }
    }

    .total_text{
        font-family: Roboto;
        font-weight: 300;
        font-size: 15px;
        color: #4E5789;
        margin-left: 10px;
        float: left;
    }

    .total_num{
        float: left;
        font-family: Roboto;
        font-weight: 400;
        color: #4E5789;
        margin-left: 10px;
        margin-top: -15px;
        font-size: 25px;
    }
}

.doctors_container{
    width: 23%;
    height: 75%;
    margin-top: 12px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    float: left;

    .icon{
        width: 40px;
        height: 40px;
        margin-left: 15px;
        margin-top: 15px;
        color: #E2FFFA;
        border-radius: 13px;
        float: left;
        .icon_box{
            float: left;
            margin-top: 8px;
            margin-left: 8px;
        }
    }

    .total_text{
        font-family: Roboto;
        font-weight: 300;
        color: #4E5789;
        font-size: 15px;
        margin-left: 10px;
        float: left;
    }

    .total_num{
        float: left;
        font-family: Roboto;
        font-weight: 400;
        color: #4E5789;
        margin-left: 10px;
        margin-top: -15px;
        font-size: 25px;
    }
}
